
<section class="evg-einstein-content-recs" data-evg-campaign-id="{{campaign}}" data-evg-experience-id="{{experience}}"
data-evg-user-group="{{userGroup}}" aria-label="Content Recommendations{{#if header}} - {{header}}{{/if}}">
    {{#if header}}
    <h3 class="evg-header evg-h3">
        {{~header~}}
    </h3>
    {{/if}}
    <div class="formDiv">
		<form class="evg-form" aria-label="Email Signup" role="form">
			<input class="evg-email" name="email" type="email" required placeholder="Email" novalidate aria-label="Email" aria-required="true" tabindex="0" />
			<button class="evg-cta evg-btn evg-btn-primary evg-btn-lg {{style.className}}" onsubmit="return false;" tabindex="1" type="button" aria-label="Submit">Submit</button>
		</form>
	</div>
</section>
