<div id="evg-exit-intent-popup" data-evg-campaign-id="{{campaign}}"
data-evg-experience-id="{{experience}}" data-evg-user-group="{{userGroup}}" aria-label="Popup{{#if header}} - {{header}}{{/if}}"
role="dialog" aria-modal="true" aria-hidden="false">

    {{#if lightbox}}
    <div class="evg-overlay" data-evg-dismissal></div>
    {{/if}}

    <div class="evg-popup evg-style-bg {{style.className}}" style="background-image:url('{{imageUrl}}')">
        <div class="evg-main-panel">
            {{#if header}}
            <h1 class="evg-header evg-h1 evg-display-4 evg-style-text {{style.className}}">
                {{{header}}}
            </h1>
            {{/if}}
            {{#if subheader}}
            <h2 class="evg-subheader evg-h2 evg-style-text {{style.className}}">
                {{{subheader}}}
            </h2>
            {{/if}}
            <a class="evg-cta evg-btn evg-btn-primary evg-btn-lg {{style.className}}" tabindex="0" href="{{ctaUrl}}"
            type="button" aria-label="{{ctaText}}">
                {{~ctaText~}}
            </a>
        </div>
        <button class="evg-btn-dismissal evg-style-color {{style.className}}" data-evg-dismissal
        aria-label="Close Popup" tabindex="1">&times;</button>
    </div>
</div>
