<section class="slideshow slideshow-region" aria-label="Slideshow Area">
    <div>
       <div class="views-element-container slideshow primary-slideshow" id="block-views-block-slideshow-block-1">
          <div>
             <div>
             {{#if ctaText}}
                 <div class="call-to-action-wrapper" style="text-align: center;">
                     <a class="cta-button onPrimary--text v-btn v-btn--block v-btn--large theme--light primary {{xPosition.className}} {{yPosition.className}}" href="{{ctaUrl}}" aria-label="{{ctaText}}">
                         {{~ctaText~}}
                     </a>
                 </div>
             {{/if}}
                <div class="hide views-row" style="background: url({{imageURL}}) center bottom / cover no-repeat;">
                   <div class="views-field views-field-field-slideshow">
                      <div class="field-content">
                         <div class="paragraph paragraph--type--slide paragraph--view-mode--default">
                            <div class="">
                               <div class="">
                                  <a href="{{ctaUrl}}">
                                     <div class="field field--name-field-slide-image field--type-image field--label-hidden field__item">
                                        <picture>
                                           <source srcset="{{imageURL}} 1x" media="all and (min-width: 1200px)" type="image/jpeg">
                                           <source srcset="{{imageURL}} 1x" media="all and (max-width: 767px)" type="image/jpeg">
                                           <img src="{{imageURL}}" alt="">
                                        </picture>
                                     </div>
                                  </a>
                               </div>
                               <div class="overlay">
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="views-row" style="background: url({{imageURL}}) center bottom / cover no-repeat;">
                   <div class="views-field views-field-field-slideshow">
                      <div class="field-content">
                         <div class="paragraph paragraph--type--slide paragraph--view-mode--default">
                            <div class="">
                               <div class="">
                                  <a href="{{ctaUrl}}">
                                     <div class="field field--name-field-slide-image field--type-image field--label-hidden field__item">
                                        <picture>
                                           <source srcset="{{imageURL}} 1x" media="all and (min-width: 1200px)" type="image/jpeg">
                                           <source srcset="{{imageURL}} 1x" media="all and (max-width: 767px)" type="image/jpeg">
                                           <img src="{{imageURL}}" alt="">
                                        </picture>
                                     </div>
                                  </a>
                               </div>
                               <div class="overlay">
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="hide views-row" style="background: url({{imageURL}}) center bottom / cover no-repeat;">
                   <div class="views-field views-field-field-slideshow">
                      <div class="field-content">
                         <div class="paragraph paragraph--type--slide paragraph--view-mode--default">
                            <div class="">
                               <div class="">
                                  <a href="{{ctaUrl}}">
                                     <div class="field field--name-field-slide-image field--type-image field--label-hidden field__item">
                                        <picture>
                                           <source srcset="{{imageURL}} 1x" media="all and (min-width: 1200px)" type="image/jpeg">
                                           <source srcset="{{imageURL}} 1x" media="all and (max-width: 767px)" type="image/jpeg">
                                           <img src="{{imageURL}}" alt="">
                                        </picture>
                                     </div>
                                  </a>
                               </div>
                               <div class="overlay">
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="hide views-row" style="background: url({{imageURL}}) center bottom / cover no-repeat;">
                   <div class="views-field views-field-field-slideshow">
                      <div class="field-content">
                         <div class="paragraph paragraph--type--slide paragraph--view-mode--default">
                            <div class="">
                               <div class="">
                                  <a href="{{ctaUrl}}">
                                     <div class="field field--name-field-slide-image field--type-image field--label-hidden field__item">
                                        <picture>
                                           <source srcset="{{imageURL}} 1x" media="all and (min-width: 1200px)" type="image/jpeg">
                                           <source srcset="{{imageURL}} 1x" media="all and (max-width: 767px)" type="image/jpeg">
                                           <img src="{{imageURL}}" >
                                        </picture>
                                     </div>
                                  </a>
                               </div>
                               <div class="overlay">
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>